**/Seeking_for_best_features_*/
**/MLP_study_*/
**/MLP_RES_*/
**/trial*/
**/peredelka_*/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.tox/
.coverage
.cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

*.pth
*.pt
*.onnx
*.pkl

*.csv
*.xlsx

*.png
*.jpg
*.jpeg
